In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [87]:
sales_data=pd.read_excel(r"C:\Users\Dell\OneDrive\문서\sales_data .xlsx")
sales_data.head()

   Order ID Product Name  Price  Quantity  Sales  Discount  Profit
0      1001       Laptop    500         2   1000      0.10   200.0
1      1002        Phone    300         3    900      0.05   150.0
2      1003        Chair    100         5    500      0.15    75.0
3      1004         Desk    200         2    400      0.20    80.0
4      1005   Headphones     50        10    500      0.05    50.0

In [88]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      75 non-null     int64
 1   Product Name  75 non-null     object
 2   Price         75 non-null     int64
 3   Quantity      75 non-null     int64
 4   Sales         75 non-null     int64
 5   Discount      75 non-null     float64
 6   Profit        75 non-null     float64
dtypes: float64(2), int64(4), object(1)
memory usage: 4.2+ KB

In [89]:
sales_data.isnull().sum()

Order ID        0
Product Name    0
Price           0
Quantity        0
Sales           0
Discount        0
Profit          0
dtype: int64

In [90]:
sales_data.isnull().mean()*100

Order ID        0.0
Product Name    0.0
Price           0.0
Quantity        0.0
Sales           0.0
Discount        0.0
Profit          0.0
dtype: float64

In [92]:
sales_data.head()

   Order ID Product Name  Price  Quantity  Sales  Discount  Profit
0      1001       Laptop    500         2   1000      0.10   200.0
1      1002        Phone    300         3    900      0.05   150.0
2      1003        Chair    100         5    500      0.15    75.0
3      1004         Desk    200         2    400      0.20    80.0
4      1005   Headphones     50        10    500      0.05    50.0

In [94]:

print(sales_data['Sales'].min())  # Minimum Sales value
print(sales_data['Sales'].max())  # Maximum Sales value

75
2100

In [96]:
# Total Sales
total_sales = sales_data["Sales"].sum()
total_sales

np.int64(38680)

In [101]:
top_products=sales_data.groupby("Product Name")["Sales"].sum().sort_values(ascending=False).head(5)
print(f"Top 5 Products by Sales:\n{top_products}")

Top 5 Products by Sales:
Product Name
Bag       2700
Shoes     2570
Jacket    2540
Phone     2400
Chair     2220
Name: Sales, dtype: int64

In [103]:
average_profit=sales_data["Sales"].mean()
print(f"Average Profit Per Product:\n{average_profit}")

Average Profit Per Product:
515.7333333333333

In [104]:
sales_data.to_csv("sales_data_cleaned.csv",index=False)